* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0FFFF;
    background-image: linear-gradient(to bottom, #E0FFFF, #20B2AA);
    font-size: 62.5%;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    
    color: black;
    box-sizing: border-box;
    margin: 7%;
    padding: 10%;
   
}

.second {
   
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5%; 
    display:flex;
    flex-direction: column;
    justify-content: space-around;
     align-items: center;
}

footer{
    flex-grow: 0;
    padding: 10%;
}


.container{
    flex-grow: 1; 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about {
    flex: 3 3 30%;
    line-height: 3.1em;
    background-color: rgb(202, 226, 235);
    border-radius: 20px;
    padding: 5%;
    border: 2px solid rgb(87, 142, 153);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);   
    margin: 5%;
}

.works {
    flex: 1 1 30%;
    background-color: rgb(202, 226, 235);
    border-radius: 20px;
    padding: 5%;
    border: 2px solid rgb(87, 142, 153);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    line-height: 3.5em;
    margin: 5%;
}

h1 {
    text-shadow: 4px 4px 2px #686666a9; 
    font-family: 'Russo One', sans-serif;
    font-size: 450%;
    padding: 7%;
    text-align: center;
}

h2 {
    font-size: 300%;
    font-family: 'PT Sans', sans-serif;  
}

.first h2 {
    text-align: center;
}

.second h2 {
    padding-bottom: 10%;
}


p {
    font-size: 200%;
}

ul {
    font-size: 150%;
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.works a {
    line-height: 1.5em;
    color: #207EBF;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #F60;
}

.works a:visited {
    color: #6E97BF;
}

.works a:hover {
    color: #FFF;
    background-color: #6E97BF;
    border-bottom-color: #6E97BF;
}


button {
    background-color: #ee432e;
    background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%); 
    background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%); 
    border: 1px solid #951100;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
} 

button a {
    text-decoration: none;
    color: black;
}

button a:hover {
   color: white;
}

button a:active {
    -webkit-transform: translate(1px,2px);
    -ms-transform: translate(1px,2px);
    transform: translate(1px,2px);
}

@media (min-width: 768px) {
    
    .about {
        width: 60%;
    }
    
    .works {
        width: 35%;
    }
}
